<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chemcalc"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="13" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.chemcalc.FlowActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.chemcalc.Chlorine"
            android:label="@string/title_activity_chlorine" >
        </activity>
        <activity
            android:name="com.example.chemcalc.MainActivity"
            android:label="@string/title_activity_main_menue" >
           
        </activity>
        <activity
            android:name="com.example.chemcalc.BreakPoint"
            android:label="@string/title_activity_break_point_chlorination" >
        </activity>
        <activity
            android:name="com.example.chemcalc.FilterMedia"
            android:label="@string/title_activity_filter_media" >
        </activity>
        <activity
            android:name="com.example.chemcalc.TestResults"
            android:label="@string/title_activity_test_results" >
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
