

body {
    background-color: #b0c4de;
}

 a.top  {

	color:black;

	

}



th {



	width: 25%;

}



.columns {



    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */

    -moz-column-gap: 40px; /* Firefox */

    column-gap: 40px;



}



































